<!---Nav bar--->

<nav class="navbar navbar-expand-lg  navbar-dark bg-primary" >
  <a class="navbar-brand" href="#" style="font-size:18px;">Hospital Management System </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
      <li class="nav-item dropdown">
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a> -->
        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-success my-2 my-sm-0" (click)="logOut()" type="submit">Log out</button>
    </form>
  </div>
</nav>


<!---Receptionsit view styling--->
<div class="reception-view">
  <div class="row">

          <div class="col-md-3">
              <button (click)="addPatient()" class="btn  btn-success add-new-patinet-btn">
                  <i class="fas fa-user-injured icon-first-styl"></i>
                Add new <span>Patient</span>
                <i class="fas fa-user-injured sec-icon"></i></button>
          </div>

          <div class="col-md-3">
              <button (click)="openChannelModal()" class="btn  btn-info create-new-channel-btn1" >
                  <i class="far fa-plus-square icon-first-style"></i>
                  Create new <span>channel</span>
                  <i class="far fa-plus-square sec-icon"></i></button>
          </div>

          <div class="col-md-3">
              <button (click)="openPatientModal()" class="btn  btn-outline-dark create-new-channel-btn" >
             <i class="far fa-user-circle icon-first-style"></i>
                  View all <span>Patinets</span>
                  <i class="far fa-plus-square sec-icon"></i></button>
          </div>

          <div class="col-md-3">
              <button (click)="openChannelModal()" class="btn  btn-outline-dark create-new-channel-btn" >
                  <i class="far fa-plus-square icon-first-style"></i>
                  Create channel
                  <i class="far fa-plus-square sec-icon"></i></button>
          </div>

 



<!----Selected doctor details-->

    <div class="col-md-5 doc-informataions-sec">
      <h5 class="doc-details">Doctor details</h5>
    <label class="sub-cat">Last updated 00:00 minutes ago.</label>
    <hr class="hr-style">
      <div class="row">
        <div class="col-md-6">
          <div class="doc-image">
          <img class="profile-image" [src]="selectedDoctor.displayUserDataDTO.profileUrl" width="300" height="300" style="border-radius:5px;">
          </div>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary  btn-block main-side-btn">View Appoinments</button>
            <button type="button" class="btn btn-primary  btn-block main-side-btn-2">View Appoinments</button>
        </div>
      </div>

        <div class="row doc-det">

              <div class="col-md-6">
                <label class="doc-name">Doctor name : </label><span>{{selectedDoctor.displayUserDataDTO.name}}</span><br>
                <label class="doc-email">Doctor Email : </label><span>{{selectedDoctor.displayUserDataDTO.email}}</span>
              </div>

              <div class="col-md-6">
                  <label class="doc-name">Position: </label><span>Doctor</span><br>
                  <label class="doc-email">Specialize area : </label><span>Eye Specialist</span>
              </div>
        </div>
        
   
    </div>



    <div class="col-md-7 select-doctor-sec">

      <div class="selec-doc">
        <label for="doctor" class="doc-select">Select Channel From Doctor :</label>
        <!-- <Select  >
          <option [value]="-1">--Select Doctor--</option>
          <option >{{doctor.displayUserDataDTO.name}}</option>
        </Select> -->

        <select class="form-control" [(ngModel)]="selectedDoctorId" (ngModelChange)="change()" name="doctor"  ngDefaultControl  id="exampleFormControlSelect1">
            <option *ngFor="let doctor of doctorsDetails" [value]="doctor.doctorid" >{{doctor.displayUserDataDTO.name}}</option>
          </select>

        </div>

        <div class="doc-table">
        <app-doctor-channel [docotrId] = "doctorid" [isReciptionist]="true"></app-doctor-channel>
          </div>
    </div>



  </div>
</div>



<div class="footer-des">
    <p style="color:rgb(150, 150, 150); text-align: center; margin-top: 10px;" > Copyright Helth Care management System by sanoj dilshan</p>
    </div>




