<!---Get report details by doctor id--->
<div class="reporty-details">
    <div class="row">
        <div class="col-md-6">
    <!--Add new report-->
        <div class="Add-new-report">
            <button class="btn btn-primary Add-new-report btn-lg">Add new Report</button>
        </div>
</div>

<div class="col-md-6">
    <!---View Previous reports-->
        <div class="view-report">
            <button  class="btn btn-outline-primary view-all-repo btn-lg">View All Reports</button>
        </div>
    </div>
    </div>
</div>