<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <label for="name">Name</label>
  <input type="text" name="name" [(ngModel)]="name">

  <label for="email">Email</label>
  <input type="text" name="email" [(ngModel)]="email">

  <label for="username">User Name</label>
  <input type="text" name="username" [(ngModel)]="userName">

  <label for="phone">Phone</label>
  <input type="phone" name="name" [(ngModel)]="mobileNumber">

  <label for="password">Password</label>
  <input type="text" name="password" [(ngModel)]="password">

  <label for="nic">NIC</label>
  <input type="text" name="nic" [(ngModel)]="nicNumber">

  <label>Birth Day</label>
  <input placeholder="Date:" [(ngModel)]="birthDay" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="date">
  <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

  <label for="line1">Line1</label>
  <input type="text" name="line1" [(ngModel)]="line1">

  <label for="line2">Line2</label>
  <input type="text" name="line2" [(ngModel)]="line2">

  <label for="city">City</label>
  <input type="text" name="city" [(ngModel)]="city">

  <label for="country">Country</label>
  <input type="text" name="country" [(ngModel)]="country">

  <label for="sa">Special Area</label>
  <input type="text" name="sa" [(ngModel)]="specialArea">

  <label for="pic">Profile Pic</label>
  <input type="file" name="pic" (change) = "onUploadImage($event)">

  <button (click)="modalRef.hide()">Cancel</button>
  <button (click)="save()">Save</button>

</div>
