<!---Nav bar--->

<nav class="navbar navbar-expand-lg  navbar-dark bg-primary" >
  <a class="navbar-brand" href="#" style="font-size:18px;">Healthcare Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
      <li class="nav-item dropdown">
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a> -->
        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-success my-2 my-sm-0" (click)="logOut()" type="submit">Log out</button>
    </form>
  </div>
</nav>



  <div class="row">
  <div class="col-md-4">
    <div class="det-content-btns">
        <h5 class="doctor-details">Add Staff memebre</h5>
        <p class="update-status">Chek statistics <span>and add role</span></p>
        <div class="btn-sett">
      <button (click)="addRole()" class="btn btn-success add-role"><i class="fas fa-user-plus"></i>Add Role</button>

      <button (click)="addStaff()" class="btn btn-secondary add-staff"><i class="fas fa-user-md"></i>Add Staff Member</button>
      </div></div>

      <!---roles--->

      <div class="det-content-rols">
          <h5 class="doctor-details">Created Roles / User Types</h5>
          <p class="update-status">Chek statistics <span>you have added 7 roles</span></p>
          <div class="btn-sett">
              <button type="button" class="btn btn-primary" style="margin-left:5px;">
                  Doctor <span class="badge badge-light">01</span>
                  <span class="sr-only">unread messages</span>
                </button>

                <button type="button" class="btn btn-primary" style="margin-left:5px;">
                    Patient <span class="badge badge-light">01</span>
                    <span class="sr-only">unread messages</span>
                  </button>

                  <button type="button" class="btn btn-primary" style="margin-left:5px;">
                      Nurse <span class="badge badge-light">01</span>
                      <span class="sr-only">unread messages</span>
                    </button>

                    <button type="button" class="btn btn-primary" style="margin-left:5px;">
                        Receptionist <span class="badge badge-light">02</span>
                        <span class="sr-only">unread messages</span>
                      </button>
                      <button type="button" class="btn btn-primary" style="margin-left:5px; margin-top:7px;">
                          Doc1 <span class="badge badge-light">02</span>
                          <span class="sr-only">unread messages</span>
                        </button>
                        <button type="button" class="btn btn-primary" style="margin-left:5px; margin-top:7px;">
                            Doctor1 <span class="badge badge-light">01</span>
                            <span class="sr-only">unread messages</span>
                          </button>
        </div>
      </div>
      

<!---statistics--->


    <div class="det-content-stat">
          <div class="row">

            <div class="col-md-6">
              <div class="status-card">
                 
                  <i class="fas fa-user-tag doctor-img"></i>
                  <h1 class="recep-count">07</h1>
                  <p class="role-typ-text">Role Types</p>
              </div>
            </div>

            <div class="col-md-6">
                <div class="status-card">
                    <i class="fas fa-user-md doctor-img"></i>
                    <h1 class="recep-count">18</h1>
                    <p class="role-typ-text">Doctors</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="status-card">
                    <i class="fas fa-procedures doctor-img"></i>
                    <h1 class="recep-count">08</h1>
                    <p class="role-typ-text">Patients</p>
                </div>
              </div>
  
              <div class="col-md-6">
                  <div class="status-card">
                      <i class="fas fa-user-nurse doctor-img"></i>
                      <h1 class="recep-count">01</h1>
                      <p class="role-typ-text">Recepctionist</p>
                  </div>
              </div>

          </div>

   </div>





  </div>



  <div class="col-md-8">
<div class="doc-det-wraper">
  <div class="details-wrap">
      <h5 class="doctor-details">Doctor details</h5>
      <p class="update-status">Last updated <span> 00:00AM</span></p>
      </div>
      <table class="table table-striped">
        <thead>
          <th>profile</th>
          <th>Name</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors">
            <td><img [src]="doctor.displayUserDataDTO.profileUrl" alt="" width="35" height="35" style="border-radius:100px;"></td>
            <td>{{doctor.displayUserDataDTO.name}}</td>
            <td>{{doctor.displayUserDataDTO.userName}}</td>
            <td>{{doctor.displayUserDataDTO.email}}</td>
            <td><button class="btn btn-warning btn-sm">View</button></td>
          </tr>
        </tbody>
      </table>
      

    </div>
  </div>
  </div>


  <div class="footer-des">
      <p style="color:rgb(150, 150, 150); text-align: center; margin-top: 10px;" > Copyright Helth Care management System by sanoj dilshan</p>
      </div>