<div class="table-wrapper" *ngIf="channelInfos?.length > 0; else noChannel">
  <table class="table table-hover">

    <thead style="color:#ffff;">
      <th class="bg-primary">Doctor name</th>
      <th class="bg-primary">Channel Date</th>
      <th class="bg-primary">Start Time</th>
      <th class="bg-primary">End Time</th>
      <th class="bg-primary">Patient Limit</th>
      <th class="bg-primary">Appoinments</th>
      <th class="bg-primary" *ngIf="isPatient">Add Appoinment</th>
      <th class="bg-primary" *ngIf="isReciptionist">Change</th>
    </thead>

    <tbody>
      <tr *ngFor="let info of channelInfos">
        <td>Sanoj</td>
        <td>{{info.channelDate | date}}</td>
        <td>{{info.startTime}}</td>
        <td>{{info.endTime}}</td>
        <td>{{info.patientLimit}}</td>
        <td>{{info.appoinments.length}}</td>
        <td *ngIf="isPatient">
          <div *ngIf="!info.reserved; else alreadyDone">
            <label class="example-input-wrapper">
              Time:
              <input placeholder="Time:" [(ngModel)]="info.appoinmentTime" [owlDateTimeTrigger]="dt3"
                [owlDateTime]="dt3" name="et" #val>
              <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
            </label>
            <button (click)="addAppoinment(info)">Add</button>
          </div>
          <ng-template #alreadyDone>
            <div>
              <span>Already Added an Appoinment</span>
            </div>
          </ng-template>
        </td>
        <td *ngIf="isReciptionist">
          <button class="btn btn-success" (click)="edit(info)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination [totalItems]="30" class="pagination justify-content-end"></pagination>

</div>

<ng-template #noChannel>
  <div>No Channel Info Found</div>
</ng-template>
