<div class="table-wrapper" *ngIf="channelInfos?.length > 0; else noChannel">
  <table class="table table-hover">

    <thead style="color:#ffff;">
      <th class="bg-primary">Channel Date</th>
      <th class="bg-primary">Start Time</th>
      <th class="bg-primary">End Time</th>
      <th class="bg-primary">Patient Limit</th>
      <th class="bg-primary">Number of Appoinments</th>
      <th class="bg-primary" *ngIf="isPatient">Add Appoinment</th>
    </thead>

    <tbody>
      <tr *ngFor="let info of channelInfos">
        <td>{{info.channelDate | date}}</td>
        <td>{{info.startTime}}</td>
        <td>{{info.endTime}}</td>
        <td>{{info.patientLimit}}</td>
        <td>{{info.appoinments.length}}</td>
        <td *ngIf="isPatient">
          <label class="example-input-wrapper">
            Time:
            <input placeholder="Time:" [(ngModel)]="info.appoinmentTime" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="et" #val>
            <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
          </label>
          <button (click)="addAppoinment(info)">Add</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination [totalItems]="30" class="pagination justify-content-end"></pagination>

</div>

<ng-template #noChannel>
  <div>No Channel Info Found</div>
</ng-template>
