<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <label>Channel Date</label>
    <input placeholder="Date:" [(ngModel)]="channelDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="date">
    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

    <label class="example-input-wrapper">
      Start Time:
      <input placeholder="Time:" [(ngModel)]="startTime" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="st">
      <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
    </label>

    <label class="example-input-wrapper">
      End Time:
      <input placeholder="Time:" [(ngModel)]="endTime" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="et">
      <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
    </label>

    <label for="limit">Patient Limit</label>
    <input type="text" [(ngModel)]="patientLimit" name="pl">

    <label for="doctor">Doctor</label>
    <Select [(ngModel)]="selectedDoctorId" name="doctor" ngDefaultControl >
      <option [value]="">--Select Doctor--</option>
      <option *ngFor="let doctor of doctorsDetails" [value]="doctor.doctorid">{{doctor.displayUserDataDTO.name}}</option>
    </Select>

    <button (click)="cancel()">Cancel</button>
    <button (click)="save()">Save</button>
  </form>
</div>
