/* You can add global styles to this file, and also import other style files */
@media (min-width: 576px){
.modal-dialog {
    max-width: 880px !important;
    margin: 1.75rem auto;
}
}
.cdk-overlay-container {
    position: fixed;
    z-index: 2000 !important;
}