<div class="modal-header" style="background-color:rgb(17, 119, 252)">
  <h4 class="modal-title pull-left" style="color:#ffff;">Drug Management</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form>
    <div class="row body-content">
       
           
    
         
       
        <div class="col-md-3">
            <div class="form-group drug-name">
          <label for="drugName">Drug name</label>
          <input type="text" name="drugName" class="form-control form-style" [(ngModel)]="drugName">
        </div></div>

    
        <div class="col-md-4">
            <div class="form-group brand-name" >
   
    <input type="text" [(ngModel)]="drugBrandName" class="form-control form-style" name="bn"> <button (click)="addBrandName()" class="btn btn-primary">Add drug brand name</button>
    <div *ngFor="let brandName of drugBrandNames" class="brand-name-select">
        {{brandName}}
      </div>
    </div>
  
  </div>


    <div class="col-md-4"> <div class="form-group side-effect">
    <input type="text" [(ngModel)]="drugSideEffect" class="form-control form-style" name="se"> <button (click)="addSideEffect()" class="btn btn-primary">Add side effect</button>
    <div *ngFor="let sideEffect of drugSideEffects" class="side-effect-select">
        {{sideEffect}}
      </div>
  </div></div>


   
  <div class="col-md-3"><div class="form-group">
    <label for="drugManufacturer">Drug manufacturer</label>
    <input type="text" name="drugManufacturer" class="form-control form-style" [(ngModel)]="drugManufacturer">
</div>
</div>


    <div class="col-md-3">
        <div class="form-group">
    <label for="drugDescription">Drug description</label>
    <input type="text" name="drugDescription" class="form-control form-style" [(ngModel)]="drugDescription">
  </div></div>


  <div class="col-md-3">
      <div class="form-group">
    <label for="drugExpireDate">Drug expire date</label>
    <input placeholder="Date:" [(ngModel)]="drugExpireDate" class="form-control form-style"  [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="drugExpireDate">
    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    </div></div>
    


    <div class="col-md-3">
        <div class="form-group">
    <label for="drugQuantity">Drug quantity</label>
    <input type="text" name="drugQuantity" class="form-control form-style" [(ngModel)]="drugQuantity">
    </div></div>


   
  </div>
  <div class="row btn-set">
  <div class="col-md-6">
      <button (click)="cancel()" class="btn btn-outline-primary btn-lg btn-block">Cancel</button>
  </div>
  <div class="col-md-6">
      <button (click)="save()" class="btn  btn-primary btn-lg btn-block btn-save-staff">Save</button>
  </div></div>

  

 </form>

</div>